body {
    font-family: sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

h1 #main-heading{
    color: #333;
    transition: color 0.5, background-color 0.5s;
}

button#change-btn{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s;
}

button #Change-btn:hover {
    background-color: #0056b3;

}

input #text-input {
    margin-top: 20px;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
}

p #display-text {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}


